.header {
    position: relative;
    display: grid;
    max-height: 100px;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.nav_font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    color: #1A1A1A;
}

.button_header {
    max-width: 110px;
    height: 50px;
    border: 1px solid #DA5D1A;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    color: #DA5D1A;
    background-color: #FFFFFF;
}

.button_header:hover {
    background: rgb(227, 163, 67);
}

.button_header:active {
    background: rgb(232, 141, 221);
    box-shadow: 0 3px rgb(203, 139, 237) inset;
}

.section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../assets/images/Rectangle\ 218.png");
    border-radius: 5px;
    display: grid;
}

.section_1_grid_1 {
    padding: 100px 0 0 150px;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr 2fr;
    height: 80%;
}

.section_1_grid_1_font1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 3vw;
    background: linear-gradient(270deg, #DA5D1A 0%, #FF7D38 97.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_1_grid_1_font2 {
    font-family: 'Kayak Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 6vw;
    color: #010405;
}

.section_1_grid_1_font3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vw;
    line-height: 150%;
    color: #6B6867;
}

.section_1_img {
    padding: 30px 0 0 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: url("../assets/images/sct1_img.png");
    max-width: 100%;
    background-color: rgba(251, 127, 255, 0.2);
    border-radius: 15px;
}

.section_1_img_a1 {
    padding-left: 10px;
    grid-area: 1 / 1 / 3 / 3;
}

.section_1_img_a2 {
    padding-right: 10px;
    grid-area: 2 / 6 / 3 / 8;
}

.section_1_img_a3 {
    grid-area: 5 / 2 / 7 / 4;
}

.section_1_img_size {
    max-width: 100%;
}

.section_1_grid_1_btn {
    min-width: 120px;
    height: 57.83px;
    background: #DA5D1A;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    color: #FFFFFF;
}

.section_2 {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.section_2_1 {
    grid-area: 1 / 2 / 2 / 3;
}

.section_2_1_font1 {
    font-family: 'Kayak Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: #0A0603;
}

.section_2_1_font2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 150%;
    text-align: center;
    color: #6B6867;
}

.section_2_2 {
    grid-area: 2 / 1 / 3 / 2;
}

.section_2_2_font1 {
    font-family: 'Kayak Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    color: #0A0603;
}

.section_2_2_font2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    text-align: center;
    color: #6B6867;
}

.section_2_3 {
    grid-area: 2 / 2 / 3 / 3;
}

.section_2_4 {
    grid-area: 2 / 3 / 3 / 4;
}

.section_2_5 {
    grid-area: 3 / 1 / 4 / 4;
    justify-self: center;
    align-self: center;
}

.section_2_btn {
    width: 136px;
    height: 57px;
    left: 732px;
    top: 1537px;
    background: #DA5D1A;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
}

.section_3 {
    display: grid;
    grid-gap: 5px;
    min-height: 500px;
    grid-template-columns: repeat(4, 1fr);
}

.section_3_img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.section_3_1 {
    grid-area: 1 / 1 / 3 / 3;
}

.section_3_2 {
    grid-area: 1 / 3 / 2 / 5;
}

.section_3_3 {
    grid-area: 2 / 3 / 3 / 4;
}

.section_3_4 {
    grid-area: 2 / 4 / 3 / 5;
}

.section_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 200px;
}

.section_4_grid_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section_4_grid_1_area1 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
    font-family: 'Kayak Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    color: #0A0603;
}

.section_4_grid_1_area2 {
    grid-area: 2 / 1 / 3 / 4;
}

.section_4_grid_1_area2_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section_4_select {
    max-width: 125px;
    height: 44px;
    background: hwb(21 10% 15%);
    border-radius: 5px;
}

.section_5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: antiquewhite;
    justify-items: center;
}

.section_5_font {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: #0A0603;
}

.section_5_link:hover {
    background-color: #e9ab8a;
}

.section_5_img {
    max-width: 100%;
}

.section_6 {
    padding: 15px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.section_6_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid orange;
    border-radius: 8px;
}

.section_6_grid_text {
    align-self: center;
}

.section_6_img {
    max-width: 100%;
}

.section_6_grid_text_font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.9vw;
    line-height: 150%;
    color: #010405;
}

.footer {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 200px;
}

.footer_area1 {
    grid-area: 1 / 1 / 3 / 2;
}

.footer_area1_font1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 150%;
    color: #6B6867;
}

.footer_area2 {
    grid-area: 1 / 2 / 3 / 4;
}

.footer_area2_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 20% 20% 20%;
    align-items: center;
    align-content: center;
    justify-items: end;
}

.footer_area3 {
    grid-area: 3 / 1 / 4 / 2;
    align-self: center;
}

.footer_area3_font2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4vw;
    color: #6B6867;
}

.footer_area4 {
    grid-area: 3 / 2 / 4 / 4;
    min-width: 250px;
    justify-self: end;
}

.footer_area4_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
}

.a_footer:hover {
    color: #DA5D1A;
}

.a_footer:active {
    color: aquamarine;
}

@media screen and (min-width: 1024px) {

    .menu_mobile {
        display: none;
    }

    .item_middle {
        display: none;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {

    .menu_mobile {
        display: none;
    }

    .section_1 {
        grid-template-columns: 1fr;
    }

    .section_1_grid_1 {
        min-height: 350px;
    }

    .section_1_img {
        display: none;
    }

    .section_4_middle {
        display: none;
    }

    .section_5 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section_5_font {
        display: none;
    }

    .section_5_middle {
        display: none;
    }

    .footer_area2_grid {
        grid-template-columns: 1fr 1fr;
    }

    .a_footer_middle {
        display: none;
    }

}

@media screen and (max-width: 767px) {

    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        display: none;
    }

    .item_menu_mobile {
        justify-self: end;
    }

    .section_1 {
        display: grid;
    }

    .section_1_img {
        display: none;
    }

    .item_middle {
        display: none;
    }

    .section_3 {
        display: flex;
        flex-wrap: wrap;
    }


    .section_3_img_mobile {
        display: none;
    }

    .section_4_select_modile {
        display: none;
    }

    .section_5 {
        display: flex;
    }

    .section_5_font {
        display: none;
    }

    .footer_area2_grid {
        display: none;
    }
}